In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/서울교통공사_역별 일별 시간대별 승하차인원 정보_23.11_24.01.csv', encoding='cp949')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50238 entries, 0 to 50237
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연번       50238 non-null  int64
 1   날짜       50238 non-null  object
 2   호선       50238 non-null  object
 3   역번호      50238 non-null  int64
 4   역명       50238 non-null  object
 5   구분       50238 non-null  object
 6   06시 이전   50238 non-null  int64
 7   06시-07시  50238 non-null  int64
 8   07시-08시  50238 non-null  int64
 9   08시-09시  50238 non-null  int64
 10  09시-10시  50238 non-null  int64
 11  10시-11시  50238 non-null  int64
 12  11시-12시  50238 non-null  int64
 13  12시-13시  50238 non-null  int64
 14  13시-14시  50238 non-null  int64
 15  14시-15시  50238 non-null  int64
 16  15시-16시  50238 non-null  int64
 17  16시-17시  50238 non-null  int64
 18  17시-18시  50238 non-null  int64
 19  18시-19시  50238 non-null  int64
 20  19시-20시  50238 non-null  int64
 21  20시-21시  50238 non-null  int64
 22  21시-22시  50238 non-null  int64
 23  22시-23시  50238 non-null  int64
 24  23시-24시  50238 non-null  int64
 25  24시 이후   50238 non-null  int64
dtypes: int64(22), object(4)
memory usage: 10.0+ MB

In [3]:
data.head(-1)

,연번,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,...,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후
0,1,2023-11-01,1호선,150,서울역,승차,342,520,1929,2864,...,3265,3834,6739,9519,4370,2870,2550,1641,753,72
1,2,2023-11-01,1호선,150,서울역,하차,300,2166,5186,10500,...,2372,2231,3041,3053,1729,1249,1114,734,381,108
2,3,2023-11-01,1호선,151,시청,승차,86,157,303,415,...,1973,2508,4322,7531,2677,2211,2100,1250,399,31
3,4,2023-11-01,1호선,151,시청,하차,220,1014,3464,9344,...,971,973,1102,1012,556,321,264,174,108,40
4,5,2023-11-01,1호선,152,종각,승차,144,167,256,454,...,2364,2805,6649,10098,3847,3149,3366,2330,908,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50232,50233,2024-01-31,8호선,2826,수진,승차,174,281,662,928,...,288,363,311,318,172,147,185,114,37,14
50233,50234,2024-01-31,8호선,2826,수진,하차,28,73,136,290,...,353,341,426,690,584,318,276,226,162,41
50234,50235,2024-01-31,8호선,2827,모란,승차,80,120,356,456,...,353,360,381,452,244,160,137,117,70,30
50235,50236,2024-01-31,8호선,2827,모란,하차,19,128,161,374,...,220,241,284,428,226,128,122,100,61,83
50236,50237,2024-01-31,8호선,2828,남위례,승차,54,283,923,1111,...,379,392,613,789,338,263,251,202,105,33

In [4]:
stationdata = data[data['날짜'].str.contains('2024-01-31')]
stationdata.head(-1)

,연번,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,...,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후
49690,49691,2024-01-31,1호선,150,서울역,승차,291,496,1520,2669,...,3393,3693,6642,9227,4502,2855,2851,1866,781,103
49691,49692,2024-01-31,1호선,150,서울역,하차,260,1728,4657,10455,...,2365,2558,2906,3055,1859,1279,1229,772,403,130
49692,49693,2024-01-31,1호선,151,시청,승차,81,138,262,311,...,1711,2146,3938,7512,2710,2350,2173,1192,413,30
49693,49694,2024-01-31,1호선,151,시청,하차,187,884,3033,9582,...,965,944,985,1041,453,295,264,192,109,38
49694,49695,2024-01-31,1호선,152,종각,승차,123,127,205,359,...,2335,2845,6419,10290,4213,3729,3971,2725,1109,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50232,50233,2024-01-31,8호선,2826,수진,승차,174,281,662,928,...,288,363,311,318,172,147,185,114,37,14
50233,50234,2024-01-31,8호선,2826,수진,하차,28,73,136,290,...,353,341,426,690,584,318,276,226,162,41
50234,50235,2024-01-31,8호선,2827,모란,승차,80,120,356,456,...,353,360,381,452,244,160,137,117,70,30
50235,50236,2024-01-31,8호선,2827,모란,하차,19,128,161,374,...,220,241,284,428,226,128,122,100,61,83
50236,50237,2024-01-31,8호선,2828,남위례,승차,54,283,923,1111,...,379,392,613,789,338,263,251,202,105,33

In [5]:
top5 = stationdata.iloc[:, 6:]
top5.head(-1)

,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,11시-12시,12시-13시,13시-14시,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후
49690,291,496,1520,2669,2116,1848,2506,2656,2783,2375,3393,3693,6642,9227,4502,2855,2851,1866,781,103
49691,260,1728,4657,10455,6225,2765,2353,2366,2472,2182,2365,2558,2906,3055,1859,1279,1229,772,403,130
49692,81,138,262,311,420,486,774,768,948,1298,1711,2146,3938,7512,2710,2350,2173,1192,413,30
49693,187,884,3033,9582,3723,1694,1604,1400,1370,1137,965,944,985,1041,453,295,264,192,109,38
49694,123,127,205,359,393,621,962,1057,1460,1873,2335,2845,6419,10290,4213,3729,3971,2725,1109,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50232,174,281,662,928,480,320,266,243,356,313,288,363,311,318,172,147,185,114,37,14
50233,28,73,136,290,249,241,296,225,287,301,353,341,426,690,584,318,276,226,162,41
50234,80,120,356,456,265,226,230,266,288,276,353,360,381,452,244,160,137,117,70,30
50235,19,128,161,374,199,188,212,221,214,199,220,241,284,428,226,128,122,100,61,83
50236,54,283,923,1111,582,319,309,304,326,293,379,392,613,789,338,263,251,202,105,33

In [6]:
top5['total'] = top5.apply(sum, axis=1)
top5.head(-1)

,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,11시-12시,12시-13시,13시-14시,14시-15시,...,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,total
49690,291,496,1520,2669,2116,1848,2506,2656,2783,2375,...,3693,6642,9227,4502,2855,2851,1866,781,103,55173
49691,260,1728,4657,10455,6225,2765,2353,2366,2472,2182,...,2558,2906,3055,1859,1279,1229,772,403,130,52019
49692,81,138,262,311,420,486,774,768,948,1298,...,2146,3938,7512,2710,2350,2173,1192,413,30,29661
49693,187,884,3033,9582,3723,1694,1604,1400,1370,1137,...,944,985,1041,453,295,264,192,109,38,29900
49694,123,127,205,359,393,621,962,1057,1460,1873,...,2845,6419,10290,4213,3729,3971,2725,1109,81,44897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50232,174,281,662,928,480,320,266,243,356,313,...,363,311,318,172,147,185,114,37,14,5972
50233,28,73,136,290,249,241,296,225,287,301,...,341,426,690,584,318,276,226,162,41,5543
50234,80,120,356,456,265,226,230,266,288,276,...,360,381,452,244,160,137,117,70,30,4867
50235,19,128,161,374,199,188,212,221,214,199,...,241,284,428,226,128,122,100,61,83,3808
50236,54,283,923,1111,582,319,309,304,326,293,...,392,613,789,338,263,251,202,105,33,7869

In [7]:
stationdata['total'] = top5['total']
stationdata.head(-1)

C:\Users\user\AppData\Local\Temp\ipykernel_9452\514509170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stationdata['total'] = top5['total']

,연번,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,...,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,total
49690,49691,2024-01-31,1호선,150,서울역,승차,291,496,1520,2669,...,3693,6642,9227,4502,2855,2851,1866,781,103,55173
49691,49692,2024-01-31,1호선,150,서울역,하차,260,1728,4657,10455,...,2558,2906,3055,1859,1279,1229,772,403,130,52019
49692,49693,2024-01-31,1호선,151,시청,승차,81,138,262,311,...,2146,3938,7512,2710,2350,2173,1192,413,30,29661
49693,49694,2024-01-31,1호선,151,시청,하차,187,884,3033,9582,...,944,985,1041,453,295,264,192,109,38,29900
49694,49695,2024-01-31,1호선,152,종각,승차,123,127,205,359,...,2845,6419,10290,4213,3729,3971,2725,1109,81,44897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50232,50233,2024-01-31,8호선,2826,수진,승차,174,281,662,928,...,363,311,318,172,147,185,114,37,14,5972
50233,50234,2024-01-31,8호선,2826,수진,하차,28,73,136,290,...,341,426,690,584,318,276,226,162,41,5543
50234,50235,2024-01-31,8호선,2827,모란,승차,80,120,356,456,...,360,381,452,244,160,137,117,70,30,4867
50235,50236,2024-01-31,8호선,2827,모란,하차,19,128,161,374,...,241,284,428,226,128,122,100,61,83,3808
50236,50237,2024-01-31,8호선,2828,남위례,승차,54,283,923,1111,...,392,613,789,338,263,251,202,105,33,7869

In [8]:
stationdata = stationdata.sort_values(by='total', ascending=False)
stationdata.head(10)

,연번,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,...,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,total
49752,49753,2024-01-31,2호선,222,강남,승차,309,634,1721,2766,...,6017,9543,13290,9319,6655,7578,6281,2780,603,89642
49753,49754,2024-01-31,2호선,222,강남,하차,498,2226,6865,13890,...,3533,5053,6996,3744,2049,1462,1363,723,300,86278
49740,49741,2024-01-31,2호선,216,잠실(송파구청),승차,505,2188,5281,7268,...,4868,6718,8775,5963,5610,4577,3602,1199,237,81144
49741,49742,2024-01-31,2호선,216,잠실(송파구청),하차,205,1286,3269,7812,...,4423,6574,9902,6165,3631,3555,2916,1492,421,80557
49787,49788,2024-01-31,2호선,239,홍대입구,하차,118,676,1578,4495,...,4526,6218,8191,5241,3116,2308,1825,1243,658,69365
49751,49752,2024-01-31,2호선,221,역삼,하차,264,1990,7179,18013,...,1659,2090,2344,1440,846,705,530,390,146,68331
49748,49749,2024-01-31,2호선,220,선릉,승차,188,425,857,1487,...,5140,8744,13481,7067,4360,3947,3163,1237,205,65984
49746,49747,2024-01-31,2호선,219,삼성(무역센터),승차,172,237,561,776,...,5583,9899,13385,6727,4916,4325,3028,824,131,65326
49786,49787,2024-01-31,2호선,239,홍대입구,승차,731,1035,2559,3214,...,4226,5161,6990,5161,5137,6043,5856,2678,443,65243
49772,49773,2024-01-31,2호선,232,구로디지털단지,승차,1391,2058,6013,7892,...,2826,5536,9009,4342,2623,2269,1622,672,160,63753

In [9]:
stationdata = stationdata.reset_index()
stationdata = stationdata.drop(columns='index', axis=1)
stationdata.head(-1)

,연번,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,...,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,total
0,49753,2024-01-31,2호선,222,강남,승차,309,634,1721,2766,...,6017,9543,13290,9319,6655,7578,6281,2780,603,89642
1,49754,2024-01-31,2호선,222,강남,하차,498,2226,6865,13890,...,3533,5053,6996,3744,2049,1462,1363,723,300,86278
2,49741,2024-01-31,2호선,216,잠실(송파구청),승차,505,2188,5281,7268,...,4868,6718,8775,5963,5610,4577,3602,1199,237,81144
3,49742,2024-01-31,2호선,216,잠실(송파구청),하차,205,1286,3269,7812,...,4423,6574,9902,6165,3631,3555,2916,1492,421,80557
4,49788,2024-01-31,2호선,239,홍대입구,하차,118,676,1578,4495,...,4526,6218,8191,5241,3116,2308,1825,1243,658,69365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,49930,2024-01-31,4호선,434,남태령,하차,1,57,183,222,...,68,81,85,57,30,66,37,15,2,1262
543,50120,2024-01-31,7호선,2711,장암,하차,6,64,52,53,...,58,67,152,135,88,25,34,25,11,1121
544,49836,2024-01-31,3호선,321,충무로,하차,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
545,49835,2024-01-31,3호선,321,충무로,승차,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
546,50052,2024-01-31,6호선,2615,연신내,하차,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
grouped_df = stationdata.groupby('역명')['total'].sum().reset_index()
grouped_df = grouped_df.sort_values(by='total', ascending=False)
grouped_df.head(-1)

           역명   total
191  잠실(송파구청)  199487
2          강남  175920
118       서울역  141891
104        사당  138179
233      홍대입구  134608
..        ...     ...
226       학여울    4312
136        신답    3932
196        장암    3838
65    동작(현충원)    3738
56        도림천    2993

[238 rows x 2 columns]

In [23]:
final = pd.concat([stationdata, grouped_df.rename(columns={'total':'total_sum'})], axis=1)
final.head(-1)

,연번,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,...,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후,total,역명,total_sum
0,49753,2024-01-31,2호선,222,강남,승차,309,634,1721,2766,...,13290,9319,6655,7578,6281,2780,603,89642,가락시장,40066.0
1,49754,2024-01-31,2호선,222,강남,하차,498,2226,6865,13890,...,6996,3744,2049,1462,1363,723,300,86278,가산디지털단지,104585.0
2,49741,2024-01-31,2호선,216,잠실(송파구청),승차,505,2188,5281,7268,...,8775,5963,5610,4577,3602,1199,237,81144,강남,175920.0
3,49742,2024-01-31,2호선,216,잠실(송파구청),하차,205,1286,3269,7812,...,9902,6165,3631,3555,2916,1492,421,80557,강남구청,39218.0
4,49788,2024-01-31,2호선,239,홍대입구,하차,118,676,1578,4495,...,8191,5241,3116,2308,1825,1243,658,69365,강동,39374.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,49930,2024-01-31,4호선,434,남태령,하차,1,57,183,222,...,85,57,30,66,37,15,2,1262,NaN,NaN
543,50120,2024-01-31,7호선,2711,장암,하차,6,64,52,53,...,152,135,88,25,34,25,11,1121,NaN,NaN
544,49836,2024-01-31,3호선,321,충무로,하차,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NaN
545,49835,2024-01-31,3호선,321,충무로,승차,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NaN
546,50052,2024-01-31,6호선,2615,연신내,하차,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NaN